.card {
    max-width: 400px; /* Tamaño máximo de la tarjeta */
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 20px;
    margin: 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    background-color: #fff;
    text-align: center;
  }

  /* Estilos para el botón "Agregar Medicamento" */
  .btn-add-medicamento {
    background-color: #4CAF50;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: block;
    font-size: 16px;
    margin: 10px auto;
    cursor: pointer;
  }

  /* Cambia el cursor a un puntero cuando se pasa sobre el botón */
  .btn-add-medicamento:hover {
    background-color: #45a049;