/* Estilos para el campo de búsqueda */
.search-input {
  width: 100%;
  padding: 10px;
  margin: 10px 0;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
}

/* Estilos para el botón de crear consulta */
button {
  background-color: #007BFF;
  color: white;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  font-size: 16px;
}

/* Estilos para la tabla */
table {
  width: 50%;
  border-collapse: collapse;
  margin-top: 20px;
}

th, td {
  padding: 8px 12px;
  text-align: left;
  border-bottom: 1px solid #ddd;
}

th {
  background-color: #f2f2f2;
}

/* Estilos para los botones de acción en la tabla */
.delete-button, .update-button {
  background-color: #e74c3c;
  color: white;
  border: none;
  padding: 5px 10px;
  margin-right: 5px;
  cursor: pointer;
}

.update-button {
  background-color: #3498db;
}

/* Estilos para el componente de búsqueda y tabla */
.component-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 20px;
}

/* Estilos para los detalles del producto */
.product-details {
  display: flex;
  align-items: center;
}

.product-name, .product-Amount, .product-brand, .product-endDate {
  margin-right: 10px;
}

/* Estilos para el botón de cierre del modal */
.close-button {
  background-color: #ccc;
  color: white;
  border: none;
  padding: 10px 20px;
  margin-top: 10px;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
}

.close-button:hover {
  background-color: #999;
}
.dialog{
  border: 0;
}