/* Estilos generales para el navbar */
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #5eebf0;
    padding: 10px 20px;
    color: #35b0c5;
  }
  
  .nav-links {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
  }
  
  .nav-links li {
    margin-right: 20px;
  }
  
  .nav-links a {
    text-decoration: none;
    color: #000000;
    font-weight: bold;
  }
  
  /* Estilos para el logo */
  .logo img {
    max-width: 100px;
  }
  
  /* Estilos para el botón de hamburguesa */
  .menu-toggle {
    display: none;
    flex-direction: column;
    cursor: pointer;
  }
  
  .menu-toggle.active .bar:nth-child(1) {
    transform: translateY(5px) rotate(45deg);
  }
  
  .menu-toggle.active .bar:nth-child(2) {
    opacity: 0;
  }
  
  .menu-toggle.active .bar:nth-child(3) {
    transform: translateY(-5px) rotate(-45deg);
  }
  
  .menu-toggle .bar {
    width: 30px;
    height: 3px;
    background-color: #fff;
    margin: 3px 0;
  }
  
  /* Estilos para dispositivos móviles */
  @media screen and (max-width: 768px) {
    .menu-toggle {
      display: flex;
    }
  
    .nav-links {
      display: none;
      flex-direction: column;
      background-color: #333;
      position: absolute;
      top: 60px;
      left: 0;
      right: 0;
      padding: 20px;
      z-index: 1;
    }
  
    .nav-links.active {
      display: flex;
    }
  
    .nav-links li {
      margin: 10px 0;
    }
  }
  